#home
  overflow hidden
  
#draw
  width 800px
  height 800px
  border 1px solid #000
  .test
    height 1000px
.st0{fill:#E2E2E2;stroke:#201600;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
.st1{fill:#1FE9FF;stroke:#201600;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
.st2{fill:#44FF55;stroke:#201600;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
.st3{fill:#DF1200;stroke:#201600;stroke-width:3;stroke-miterlimit:10;}
.st4{fill:#FF755F;stroke:#201600;stroke-width:3;stroke-miterlimit:10;}
.st5{fill:#1D00BA;stroke:#201600;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
.st6{fill:#1B003F;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}